body{
    box-sizing: border-box;
}

.locations-container{
    display: block;
    width: 100%;
    padding: 50px;
}

.locations-title{
    margin: 0 auto 60px;
    text-align: center;
    color: #4f5665;
    font-family: "Rubik", sans-serif;
    justify-content: center;
}

.locations-header{
    color: rgb(46, 42, 42);
    font-weight: bolder;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

.locations-paragraph{
    font-weight: 300;
    font-size: 17px;
}

.sponsored img{
    width: 1100px;
}