body{
    box-sizing: border-box;
}

.reviews-container{
    display: block;
    margin-bottom: 130px;
}

.reviews-title{
    text-align: center;
    font-family: "Rubik", sans-serif;
    justify-content: center;
}

.reviews-header{
    color: rgb(46, 42, 42);
    font-weight: bolder;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

.reviews-paragraph{
    font-weight: 300;
    font-size: 17px;
}

.customer-container{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 60px;
    min-width: 400px;
}

.customer-container .customer{
    height: 250px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #dddddd;
    border-radius: 10px;
}

.customer-details{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.customer-id{
    display: block;
}

.customer-details img{
    margin-right: 40px;
}

.customer-details .customer-id .customer-name{
    font-size: medium;
    font-weight: 800;
    line-height: none;
}

.customer-details .customer-id .customer-location{
    font-size: smaller;
    line-height: none;
}

.customer-details .rating{
    margin-left: 60px;
}

.rating span{
    color: gold;
}

.customer-details .active-customer{
    border-color: #f53838;
}

.customer .customer-review{
    line-height: 30px;
    color: #0b132a;
    margin-left: 20px;
    margin-right: 20px;
}

.reviews-toggle{
    display: flex;
    justify-content: space-between;
}

.toggle-dots{
    display: flex;
}
.dot{
    display: flex;
    height: 15px;
    width: 15px;
    background-color: #ddd;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.active{
    background-color: #f53838;
}

.toggle-arrows{
    display: flex;
}

.toggle-arrows .left-arrow{
    margin-right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #f53838;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.toggle-arrows .right-arrow{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #f53838;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}